// General Styling

@import "variables";

html {
    font-size: 125%;
    margin: 0;
    overflow-y: auto;
}

body {
    background: linear-gradient(100deg, $mainBlue, $mainPurple);
    font-family: "Poppins", sans-serif;
    color: $fontBlue;
    font-weight: 500;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-height: 100vh;
}

img {
    display: block;
    width: 100%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.gameTitle {
    padding: 0;
    margin: 0;
    color: white;
    font-size: 2rem;
    align-self: flex-start;
    text-transform: uppercase;
}

h3 {
    margin: 0;
    font-size: 1rem;
}
.introCard p {
    color: rgb(118, 117, 117);
    margin: 0.2rem auto 0;
    text-align: center;
}

.wrapper {
    margin: 0 auto;
    max-width: 1280px;
    width: 40%;
}

footer {
    a {
        font-size: 0.6rem;
        padding: 0;
        margin: 0;
        color: white;
        text-decoration: none;
    }
}

.welcomeSection, 
.quizSection,
.finalSection {
    margin: 0.6rem 0 1.1rem 0;
}
