
// Multiple Choice Radio 'Buttons'
.liButton {
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #d88771;
  border-radius: 0.3rem;
  position: relative;
  color: none;
  font-size: 0.82rem;

  &:hover,
  &:focus {
    background-color: lightskyblue;
    transition: all 0.3s ease;
    border: lightskyblue 1px solid;
    color: none;
  }
  &:active {
    background-color: rgb(97, 190, 247);
    color: none;
  }

  input[type="radio"] {
    display: none;
    position: absolute;
  }

  label {
    cursor: pointer;
    padding: 0.5rem 0.5rem 0.5rem 0.9rem;
    width: 100%;
    height: 100%;
    margin: 0;
    color: none;
    display: inline-block;
    transition: all 0.25s ease;
    opacity: 1;
    transform: scale(1);
    text-transform: capitalize;

    span {
      text-transform: capitalize;
      margin-left: 1.4rem;
      display: inline-block;
      color: none;
    }
  }
}

.one {
  animation-delay: 250ms;
}

.two {
  animation-delay: 400ms;
}

.three {
  animation-delay: 100ms;
}

.four {
  animation-delay: 700ms;
}

@keyframes animateInto {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
  }

  50% {
    transform: scale(1.2);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animateInto {
  animation-name: animateInto;
  animation-duration: 2s;
  animation-delay: none;
}

.clicked {
  background-color: lightskyblue;
  color: rgb(255, 255, 255);
  border: lightskyblue 1px solid;
}

// Functional Buttons

button {
  font-weight: 700;
}
.submitName {
  background-color: rgb(255, 183, 132);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 0.82rem;
  color: white;
  transition: all 0.5s ease;
  
  &:hover {
    background-color: rgb(246, 208, 180);
    cursor: pointer;
  }
}

.againButton {
  background-color: rgb(255, 183, 132);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 0.82rem;
  color: white;
  align-self: flex-end;
  transition: all 0.5s ease;

  &:hover {
    background-color: rgb(246, 208, 180);
    cursor: pointer;
  }
}

.submitAnswer {
  background-color: rgb(255,183,132);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 0.82rem;
  color: white;
  align-self: flex-end;
  transition: all 0.5s ease;
  &:hover,
  &:focus
   {
    background-color: rgb(246,208,180);
    cursor: pointer;
  }
}

// .radioTheme, 
// .radioLevel{
//   margin: 0 auto;
    
//     }
.themeButton {
    background-color: #4f91f4;
    border-radius: 0.2rem;
    border: none;
    font-size: 0.82rem;
    color: white;
    align-self: flex-end;
    transition: all 0.5s ease;
    label {
        padding: 0.5rem 0.5rem 0.5rem 0.9rem;
        width: 100%;
        height: 100%;
        margin: 0;
        color: none;
        display: inline-block;
        transition: all 0.25s ease;
        opacity: 1;
        cursor: pointer;
        span {
          margin-right: 0.9rem;
          display: inline-block;
          color: none;
        }
    }
    input[type="radio"] {
      display: none;
      position: absolute;
    }
    &:focus,
    &:hover {
      background-color: #2078fb;
    }
}

// Buttons that select what level / amount of game questions
.levelButton {
    background-color: #976ef7eb;
    color: white;
    border: none;
    border-radius: 0.2rem;
    font-size: 0.82rem;
    width: 100%;
    label {
      padding: 0.5rem 0.5rem 0.5rem 0.9rem;
      width: 100%;
      height: 100%;
      margin: 0;
      color: none;
      display: inline-block;
      transition: all 0.5s ease;
      opacity: 1;
      cursor: pointer;
    }
  input[type="radio"] {
    display: none;
    position: absolute;
  }
    &:focus,
     &:hover {
        background-color:#7d49f5eb;
        transition: all 0.5s ease;
        cursor: pointer;
     }
}

// Checked colors for Theme and Level buttons
.themeSubmit {
  color: rgb(255, 255, 255);
  background-color: #2078fb;
  }

.levelSubmit {
    color: rgb(255, 255, 255);
    background-color:#7d49f5eb;
}

.themes,
.levels {
  width: 100%;
  // margin-bottom: 0;
}