.status {
    width: 90px;
    height: 15px;
    border: 1px solid #d88771;
    border-radius: 5px;
    align-self: flex-end;
    transition: all 0.8s ease;

    .statusBar {
        width: 0%;
        height: 100%;
        border-radius: 5px;
        background-color: aquamarine;
    }
}