.active {
  display: flex;
  flex-direction: column;
}

.inactive {
  display: none;
}

body {
  // background-color: #d88771;
  background: linear-gradient(100deg, #2879f2, #976ef7eb);
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.imgContainer {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
grid-column: 4/5;
}

img {
  width: 100%;
  grid-column: 4/5;

  
}

.nameInput {
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 10em 7em;
  border-radius: 1.2em;


}

input[type="text"] {
  margin-top: 1em;
  width: 100%;
  height: 2em;
  border-radius: 0.3em;
  font-size: 1.3em;
  border: 1px solid #d88771;
}



.quizWrapper {
  height: 85%;
}


.quizTitle {
  display: flex;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  padding: 2.5em 2.5em;
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  width: 500px;
  // max-width: 500px;
  // height: 700px;
  // max-height: 800px;

  .choices {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    gap: 1rem;
    width: 100%;
  }

  .questions {
    font-size: 1.15em;
    text-align: center;
    width: 100%;
    text-align: left;
    font-weight: 700;
  }

}