// Media Queries

@media (max-width: 1300px) {
.wrapper {
  width: 60%;
}
}

@media (max-width: 870px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 610px) {
  .wrapper {
    width: 90%;
  }
}
@media (max-width: 610px) {
  .themeButton,
  .levelButton {
    font-size: 0.7rem;
  }
}
// @media (max-width: 650px) {
//   .wrapper {
//     width: 70%;
//   }
// }
  // .submitAnswer {
  //   margin-top: 0.5em;
  //   padding: 1em 2em;
  //   border: none;
  //   width: 200px;
  //   font-size: 0.9em;
  // }
  // .quizTitle {
  //   width: 400px;
  //   max-width: 400px;
  //   height: 600px;
  //   max-height: 600px;
  //   .choice {
  //   }
  //   h3 {
  //     font-size: 1.5em;
  //     width: 300px;
  //   }
  //   .liButton {
  //     font-size: 1em;
  //   }
  // }
  
@media (max-width: 500px) {
  .fas,
  .fab {
    display: none;
  }
  .levels {
    flex-direction: column;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 85%;
  }
.themeButton {
  font-size: .7em;
  width: 100%;
  padding: 0.5rem 1rem;
}
  .illustration {
    display: none;
  }
  // .quizCard {
  //   // width: 80vw;
  //   height: 70vh;
  //   padding: 1.3rem 1.3rem;
  //   justify-content: flex-end;
  //   .liButton {
  //     padding: 0;
  //     label {
  //       padding: 0.5rem;
  //       font-size: 0.85rem;
  //     }
  //   }
  // }

  // .submitAnswer {
  //   background-color: rgb(246, 208, 180);
  //   border-radius: 0.2rem;
  //   font-size: 0.85rem;
  //   padding: 0.5rem 1rem;
  // }

  // .status {
  //   width: 50px;
  //   height: 10px;
  //   border: 1px solid #d88771;
  //   border-radius: 5px;
  
  //   .statusBar {
  //     width: 0%;
  //     height: 100%;
  //     border-radius: 5px;
  //     background-color: aquamarine;
  //   }
  // }
}
