// Media Queries

@media (max-width: 1300px) {
  .wrapper {
    width: 60%;
  }
}

@media (max-width: 870px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 610px) {
  .wrapper {
    width: 90%;
  }
  .themeButton,
  .levelButton {
    font-size: 0.75rem;
  }

  .quizSection {
    .illustration {
      max-width: 120px;
      top: -2rem;
    }
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 1.7rem;
  }

  .themeButton {
    label {
      padding: 0.6rem 0.7rem;
      text-align: center;
      span {
        display: none;
      }
    }
  }
  .levels {
    flex-direction: column;
  }

  .introCard {
    p {
      align-self: flex-start;
      display: inline-block;
      font-size: 0.82rem;
      margin: 0;
    }
    input[type="text"] {
      margin: 0;
    }
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 85%;
  }

  .introCard {
    padding: 1.7rem 1.5rem;
    
  }
  h1 {
    font-size: 1.1rem;
  }

  .themeButton {
    text-align: center;
  }
  .illustration {
    display: none;
  }
  // .quizCard {
  //   // width: 80vw;
  //   height: 70vh;
  //   padding: 1.3rem 1.3rem;
  //   justify-content: flex-end;
  //   .liButton {
  //     padding: 0;
  //     label {
  //       padding: 0.5rem;
  //       font-size: 0.85rem;
  //     }
  //   }
  // }

  // .submitAnswer {
  //   background-color: rgb(246, 208, 180);
  //   border-radius: 0.2rem;
  //   font-size: 0.85rem;
  //   padding: 0.5rem 1rem;
  // }

  // .status {
  //   width: 50px;
  //   height: 10px;
  //   border: 1px solid #d88771;
  //   border-radius: 5px;

  //   .statusBar {
  //     width: 0%;
  //     height: 100%;
  //     border-radius: 5px;
  //     background-color: aquamarine;
  //   }
  // }
}

@media (max-width: 340px) {
  .wrapper {
    width: 80%;
  }

  h1 {
    font-size: 1rem;
  }
  
}
