// variables page

$mainBlue: #2879f2;
$submitBlue:#2078fb;
$mainPurple: #976ef7eb;
$submitPurple: #7d49f5eb;
$fontBlue: rgb(3, 3, 105);
$introPeach: #d88771;
$lightPeach: rgb(246, 208, 180);
$darkerPeach: rgb(255, 183, 132);
$levelPurple: #9f79f9eb;
$themeBlue: #6fa8fc;
$hoverRed: rgb(133, 1, 105);
$wrongRed: rgb(201, 1, 158);
$hoverAnswer: rgb(20, 242, 168);
