html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  margin: 0;
}

body {
  background: linear-gradient(100deg, #2879f2, #976ef7eb);
  font-family: "Poppins", sans-serif;
  color: #030369;
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

h3 {
  margin: 0;
  font-size: 1rem;
}

.select {
  color: #767575;
  margin: 0.2rem auto 0;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 40%;
}

footer p {
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  color: white;
}

.welcomeSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
  margin: 0.2rem 0;
}

.introCard {
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.2em;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.9rem 2.2rem;
  border-radius: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.introCard input[type="text"] {
  margin-top: 1em;
  width: 100%;
  height: 2rem;
  border-radius: 0.3em;
  font-size: 1rem;
  border: 1px solid #d88771;
  padding-left: 1rem;
  font-family: inherit;
  color: inherit;
}

.introCard ::-webkit-input-placeholder {
  color: #d88771;
}

.introCard :-ms-input-placeholder {
  color: #d88771;
}

.introCard ::-ms-input-placeholder {
  color: #d88771;
}

.introCard ::placeholder {
  color: #d88771;
}

.quizSection {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.2rem 0;
}

.quizSection .illustration {
  position: absolute;
  top: -4.2rem;
  right: -0.6rem;
  min-width: 80px;
  max-width: 160px;
}

.quizCard {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.9rem 2.2rem;
  border-radius: 1.2rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quizCard .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.65rem;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quizCard .questions {
  font-size: calc(1vw + 1vh);
  text-align: center;
  width: 100%;
  text-align: left;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.themes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem;
}

.levels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}

.status {
  width: 90px;
  height: 15px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  margin-top: 1rem;
}

.status .statusBar {
  width: 10%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: aquamarine;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.liButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #d88771;
  border-radius: 0.3rem;
  position: relative;
  color: none;
  font-size: 0.82rem;
}

.liButton:hover, .liButton:focus {
  background-color: lightskyblue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: lightskyblue 1px solid;
  color: none;
}

.liButton:active {
  background-color: #61bef7;
  color: none;
}

.liButton input[type="radio"] {
  display: none;
  position: absolute;
}

.liButton label {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0.9rem;
  width: 100%;
  height: 100%;
  margin: 0;
  color: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-transform: capitalize;
}

.liButton label span {
  text-transform: capitalize;
  margin-left: 1.4rem;
  display: inline-block;
  color: none;
}

.one {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.two {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.three {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.four {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

@-webkit-keyframes animateInto {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateInto {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.animateInto {
  -webkit-animation-name: animateInto;
          animation-name: animateInto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.clicked {
  background-color: lightskyblue;
  color: white;
  border: lightskyblue 1px solid;
}

button {
  font-weight: 700;
}

.submitName {
  background-color: #f6d0b4;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.submitName:hover {
  background-color: #ffb784;
  cursor: pointer;
}

.againButton {
  background-color: #f6d0b4;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.againButton:hover {
  background-color: #ffb784;
  cursor: pointer;
}

.submitAnswer {
  background-color: #f6d0b4;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.submitAnswer:hover, .submitAnswer:focus {
  background-color: #ffb784;
  cursor: pointer;
}

.radioTheme,
.radioLevel {
  margin: 0 auto;
}

.themeButton {
  background-color: #4f91f4;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 1rem;
}

.themeButton input[type="radio"] {
  display: none;
  position: absolute;
}

.themeButton:focus, .themeButton:hover {
  background-color: #2078fb;
  cursor: pointer;
}

.levelButton {
  background-color: #976ef7eb;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  font-size: 1rem;
  width: 100%;
}

.levelButton input[type="radio"] {
  display: none;
  position: absolute;
}

.levelButton:focus, .levelButton:hover {
  background-color: #7d49f5eb;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  cursor: pointer;
}

.themeSubmit {
  color: white;
  background-color: #2078fb;
}

.levelSubmit {
  color: white;
  background-color: #7d49f5eb;
}

.themes,
.levels {
  width: 100%;
  margin-bottom: 0;
}

@media (max-width: 1300px) {
  .wrapper {
    width: 60%;
  }
}

@media (max-width: 870px) {
  .wrapper {
    width: 85%;
  }
}

@media (max-width: 610px) {
  .wrapper {
    width: 90%;
  }
}

@media (max-width: 610px) {
  .themeButton,
  .levelButton {
    font-size: 0.7rem;
  }
}

@media (max-width: 500px) {
  .fas,
  .fab {
    display: none;
  }
  .levels {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 420px) {
  .wrapper {
    width: 85%;
  }
  .themeButton {
    font-size: .7em;
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .illustration {
    display: none;
  }
}
