html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
  margin: 0;
}

body {
  background: linear-gradient(100deg, #2879f2, rgba(151, 110, 247, 0.9215686275));
  font-family: "Poppins", sans-serif;
  color: rgb(3, 3, 105);
  font-weight: 500;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  padding: 0;
  margin: 0;
  color: white;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.wrapper {
  margin: 0 auto;
  max-width: 1280px;
  width: 40%;
}

footer p {
  font-size: 0.6rem;
  padding: 0;
  margin: 0;
  color: white;
}

.welcomeSection {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  flex-direction: column;
  margin: 0.2rem 0;
  opacity: 1;
  -webkit-animation: all;
          animation: all;
  -webkit-animation-name: cardFadeIn;
          animation-name: cardFadeIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.introCard {
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1.2em;
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.9rem 2.2rem;
  border-radius: 1.2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.introCard input[type=text] {
  margin-top: 1em;
  width: 100%;
  height: 2rem;
  border-radius: 0.3em;
  font-size: 1rem;
  border: 1px solid #d88771;
  padding-left: 1rem;
  font-family: inherit;
  color: inherit;
}
.introCard ::-webkit-input-placeholder {
  color: #d88771;
}
.introCard ::-moz-placeholder {
  color: #d88771;
}
.introCard :-ms-input-placeholder {
  color: #d88771;
}
.introCard ::-ms-input-placeholder {
  color: #d88771;
}
.introCard ::placeholder {
  color: #d88771;
}

.quizSection {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.2rem 0;
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
}
.quizSection .illustration {
  position: absolute;
  top: -4.2rem;
  right: -0.6rem;
  min-width: 80px;
  max-width: 160px;
}

.quizCard {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.9rem 2.2rem;
  border-radius: 1.2rem;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quizCard .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.65rem;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quizCard .questions {
  font-size: calc(1vw + 1vh);
  text-align: center;
  width: 100%;
  text-align: left;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.status {
  width: 90px;
  height: 15px;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  margin-top: 1rem;
}
.status .statusBar {
  width: 10%;
  height: 100%;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  background-color: aquamarine;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-name: cardFadeIn;
          animation-name: cardFadeIn;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.deactivate {
  -webkit-animation-name: cardFadeOut;
          animation-name: cardFadeOut;
  -webkit-animation-duration: 1.1s;
          animation-duration: 1.1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fadeIn {
  -webkit-animation-name: cardFadeIn;
          animation-name: cardFadeIn;
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.fadeOut {
  -webkit-animation-name: cardFadeOut;
          animation-name: cardFadeOut;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.faded {
  -webkit-animation-name: cardFaded;
          animation-name: cardFaded;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-timing-function: cubic-bezier(0.4, 0, 0, 1.26);
          animation-timing-function: cubic-bezier(0.4, 0, 0, 1.26);
}

@-webkit-keyframes cardFaded {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes cardFaded {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes titleAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
h1 {
  margin: 0;
  padding: 0;
}
h1 span > * {
  opacity: 0;
  margin: 0;
  padding: 0;
}

.titleAnimation {
  -webkit-animation-name: titleAnimation;
          animation-name: titleAnimation;
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.q {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.u {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.i {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

.z {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.t {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

.i2 {
  -webkit-animation-delay: 1.1s;
          animation-delay: 1.1s;
}

.o {
  -webkit-animation-delay: 1.3s;
          animation-delay: 1.3s;
}

.n {
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

.a {
  -webkit-animation-delay: 1.7s;
          animation-delay: 1.7s;
}

.r {
  -webkit-animation-delay: 1.9s;
          animation-delay: 1.9s;
}

.y {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.liButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #d88771;
  border-radius: 0.3rem;
  position: relative;
  color: none;
  font-size: 0.82rem;
}
.liButton:hover, .liButton:focus {
  background-color: lightskyblue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: lightskyblue 1px solid;
  color: none;
}
.liButton:active {
  background-color: rgb(97, 190, 247);
  color: none;
}
.liButton input[type=radio] {
  display: none;
  position: absolute;
}
.liButton label {
  cursor: pointer;
  padding: 0.5rem 0.5rem 0.5rem 0.9rem;
  width: 100%;
  height: 100%;
  margin: 0;
  color: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-transform: capitalize;
}
.liButton label span {
  text-transform: capitalize;
  margin-left: 1.4rem;
  display: inline-block;
  color: none;
}

.one {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.two {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.three {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.four {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

@-webkit-keyframes animateButtons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateButtons {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.animateButtons {
  -webkit-animation-name: animateButtons;
          animation-name: animateButtons;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.clicked {
  background-color: lightskyblue;
  color: rgb(255, 255, 255);
  border: lightskyblue 1px solid;
}

button {
  font-weight: 700;
}

.submitName {
  background-color: rgb(246, 208, 180);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submitName:hover {
  background-color: rgb(255, 183, 132);
  cursor: pointer;
}

.againButton {
  background-color: rgb(246, 208, 180);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.againButton:hover {
  background-color: rgb(255, 183, 132);
  cursor: pointer;
}

.submitAnswer {
  background-color: rgb(246, 208, 180);
  border-radius: 0.2rem;
  padding: 0.5rem 2rem;
  border: none;
  font-size: 1rem;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submitAnswer:hover {
  background-color: rgb(255, 183, 132);
  cursor: pointer;
}

@media (max-width: 950px) {
  .wrapper {
    width: 60%;
  }
}
@media (max-width: 650px) {
  .wrapper {
    width: 70%;
  }
}
@media (max-width: 500px) {
  .wrapper {
    width: 75%;
  }
}
@media (max-width: 390px) {
  .wrapper {
    width: 70%;
  }

  .quizCard {
    height: 70vh;
    padding: 1.3rem 1.3rem;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .quizCard .illustration {
    top: 115px;
    right: 13px;
    width: 140px;
    position: static;
  }
  .quizCard .questions {
    margin-bottom: auto;
  }
  .quizCard .liButton {
    padding: 0;
  }
  .quizCard .liButton label {
    padding: 0.5rem;
    font-size: 0.85rem;
  }

  .submitAnswer {
    background-color: rgb(246, 208, 180);
    border-radius: 0.2rem;
    font-size: 0.85rem;
    padding: 0.5rem 1rem;
  }

  .status {
    width: 50px;
    height: 10px;
    border: 1px solid #d88771;
    border-radius: 5px;
  }
  .status .statusBar {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: aquamarine;
  }
}