html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inactive {
  display: none;
}

body {
  background: linear-gradient(100deg, #2879f2, rgba(151, 110, 247, 0.9215686275));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Poppins", sans-serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.imgContainer {
  width: 100%;
  position: relative;
}

img {
  width: 10%;
  position: absolute;
  top: -1em;
  left: 65em;
}

.nameInput {
  background-color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10em 7em;
  border-radius: 1.2em;
}

input[type=text] {
  margin-top: 1em;
  width: 100%;
  height: 2em;
  border-radius: 0.3em;
  font-size: 1.3em;
  border: 1px solid #d88771;
}

.quizWrapper {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.quizCard {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.2em 2.5em;
  border-radius: 1.2em;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quizCard .choices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
  gap: 1rem;
  width: 100%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.quizCard .questions {
  font-size: 1.15em;
  text-align: center;
  width: 100%;
  text-align: left;
  font-weight: 700;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.status {
  width: 90px;
  height: 15px;
  border: 1px solid #d88771;
  border-radius: 5px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}
.status .statusBar {
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-color: aquamarine;
}

.liButton {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  list-style: none;
  border: 1px solid #d88771;
  border-radius: 0.3em;
  position: relative;
  color: none;
}
.liButton:hover, .liButton:focus {
  background-color: lightskyblue;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border: lightskyblue 1px solid;
  color: none;
}
.liButton:active {
  background-color: rgb(97, 190, 247);
  color: none;
}
.liButton input[type=radio] {
  display: none;
  position: absolute;
}
.liButton label {
  cursor: pointer;
  padding: 1em;
  width: 100%;
  height: 100%;
  margin: 0;
  color: none;
  display: inline-block;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  text-transform: capitalize;
}
.liButton label span {
  text-transform: capitalize;
  margin-left: 1rem;
  display: inline-block;
  color: none;
}

.one {
  -webkit-animation-delay: 250ms;
          animation-delay: 250ms;
}

.two {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.three {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
}

.four {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
}

@-webkit-keyframes animateInto {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes animateInto {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.submit {
  margin-top: 1em;
  background-color: rgb(246, 208, 180);
  color: black;
  border-radius: 0.2em;
  padding: 0.7em 2em;
  border: none;
  font-size: 1.3em;
  margin-top: 1em;
  cursor: pointer;
}

.submitAnswer {
  background-color: rgb(246, 208, 180);
  border-radius: 0.2em;
  padding: 0.7em 2em;
  border: none;
  font-size: 1.3em;
  color: white;
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.submitAnswer:hover {
  background-color: rgb(255, 183, 132);
  cursor: pointer;
}

.animateInto {
  -webkit-animation-name: animateInto;
          animation-name: animateInto;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: none;
          animation-delay: none;
}

.clicked {
  background-color: lightskyblue;
  color: rgb(255, 255, 255);
  border: lightskyblue 1px solid;
}

@media (max-width: 650px) {
  .submitAnswer {
    margin-top: 0.5em;
    padding: 1em 2em;
    border: none;
    width: 200px;
    font-size: 0.9em;
  }

  .quizTitle {
    width: 400px;
    max-width: 400px;
    height: 600px;
    max-height: 600px;
  }
  .quizTitle h3 {
    font-size: 1.5em;
    width: 300px;
  }
  .quizTitle .liButton {
    font-size: 1em;
  }
}
@media (max-width: 500px) {
  .submitAnswer {
    width: 40%;
  }

  .submit {
    background-color: rgb(246, 208, 180);
    border-radius: 0.2em;
  }

  .quizTitle {
    width: 350px;
    max-width: 350px;
    height: 600px;
    max-height: 600px;
  }

  h3 {
    font-size: 1em;
    width: 200px;
  }

  .liButton {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #d88771;
    padding: 1em 0;
    margin: 0.5em auto 0;
    font-size: 1em;
  }
}
@media (max-width: 390px) {
  .quizTitle {
    width: 300px;
    max-width: 300px;
  }
  .quizTitle h3 {
    font-size: 0.9em;
  }
  .quizTitle .liButton {
    padding: 0;
  }
  .quizTitle .liButton label {
    padding: 0.5em;
    font-size: 0.85em;
  }

  .status {
    width: 50px;
    height: 10px;
    border: 1px solid #d88771;
    border-radius: 5px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .status .statusBar {
    width: 0%;
    height: 100%;
    border-radius: 5px;
    background-color: aquamarine;
  }
}